/*Прелоадер*/
@keyframes loader{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}@keyframes after_loader{

    100%{
      z-index: -10;
        opacity: 0;
    }
}
/*кейфреймы*/
@keyframes comming{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes topshift{
    from{
        opacity: 0;
        margin-top: -80px;
    }
    to{
        opacity: 1;
        margin-top: 0px;
        
    }
}
.menu li:nth-child(2){
    animation-delay: 0.4s;
}
.menu li:nth-child(3){
    animation-delay: 0.8s;
}
.menu li:nth-child(4){
    animation-delay: 1.2s;
}
.menu li:nth-child(5){
    animation-delay: 1.6s;
}
.menu li:nth-child(6){
    animation-delay: 2s;
}
@keyframes title__conteiner{
    from{
        opacity: 0;
        margin-left: -500px;
        
    }    
    to{
        opacity: 1;
        margin-left: 0px;
    }
}
/*анимации*/
.menu li a:visited{
    color: #fff;
}
.menu li a:hover{
    color:#e88402;
}
.menu li a{
    transition: all 0.1s ;
    transform: scale(1);
    display: inline-block;
    text-decoration: none;
   
}
.menu li a:active{
    transform: scale(1.1);

}
.title__conteiner input{
    transition: all 0.1s scale(1);
    
}
.title__conteiner input:hover{
    background: #344051;
    color:#fff;
    
}
.title__conteiner input:active{
    transform: scale(1.1);
}
.its__me input{
    transition: all 0.1s scale(1);
}
.its__me input:hover{
    background: #344051 url(../img/down.jpg)13px 50%/auto auto no-repeat;
    color:#fff;
}
.its__me input:active{
    transform: scale(1.1);
    box-shadow:  0 0 5px #ffffff, 0 0 8px #ffffff, 0 0 11px #ffffff, 0 0 14px #0000ff, 0 0 17px #0000ff, 0 0 20px #0000ff, 0 0 23px #0000ff, 0 0 26px #0000ff;
    
}

.cases input:active{
    background: #c32d2d;
    
}
.money input:active{
    background: #c32d2d;
    
}
/*Media*/
@media (max-width:991px){
    .title__conteiner, .title__conteiner h4,.title__conteiner input{
        color: white;
        position: relative;
       z-index: 3;
    } 
    .title__conteiner input{
        border: 2px solid #fff;
    } 
    .main{
        position: relative;
    }
   
    .main::after{
        content: "";
        bottom: 0;
        left: 0;
        top: 0;
        right: 0;
        position: absolute;
        background: rgba(0,0,0,0.4);  
       
    }
    
}
.reviews input:after{
     width: 15px;
     height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #d1d3d1;
    content: '';
     display: inline-block;
     visibility: visible;
    border: 2px solid white;
}
.reviews input:checked:after{
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #c96500;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;   
}
.reviews input:active{
    transform: scale(1.2);
    
}
#send:hover{
    background: #d17700;
    
}
#send:active{
    background: #41DB00;
    transform: scale(1.1);
    
}
.icons img:hover{
    transform: scale(1.2);
}
